<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<form action='{{ url_for('user.register') }}' method="post">
{#    <p><input type="text" name="doctor_name" placeholder="用户名"></p>#}
{#    <p><input type="text" name="doctor_level" placeholder="级别"></p>#}
{#    <p><input type="text" name="doctor_kind" placeholder="类别"></p>#}
{#    <p><input type="text" name="doctor_Belonging " placeholder="所属医院"></p>#}
{#    <p><input type="text" name="doctor_score " placeholder="评分"></p>#}
{#    <p><input type="text" name="doctor_inquiry" placeholder="问诊量"></p>#}
{#    <p><input type="text" name="doctor_goodFor" placeholder="擅长"></p>#}
{#    <p><input type="text" name="pic_see_price" placeholder="图文咨询价格"></p>#}
{#    <p><input type="text" name="video_see_price" placeholder="视频咨询价格"></p>#}
{#    <p><input type="text" name="doctor_detail" placeholder="详情页"></p>#}
{#    <p><input type="submit" value="用户注册"></p>#}
    <p><input type="text" name="username" placeholder="用户名"></p>
    <p><input type="password" name="password" placeholder="密码"></p>
    <p><input type="password" name="repassword" placeholder="确认密码"></p>
    <p><input type="text" name="phone" placeholder="手机号码"></p>
    <p><input type="submit" value="用户注册"></p>
</form>
</body>
</html>